* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fafafa;
    --black: #1e1e1e;
    --primary: #26144b;
    --secundary: #160033;
}

body {
    font-family: "Roboto", serif;
    background-image: linear-gradient( var(--primary), var(--secundary));
    color: var(--white);
}

h1 {
    font-size: 4em;
    font-family: "Funnel Display", serif;
    font-weight: bolder;
    font-style: normal;
}

h2 {
    font-family: "Funnel Display", serif;
    font-size: 2.6em;
    font-style: normal;
}

h3 {
    font-family: "Funnel Display", serif;
    font-size: 1.6em;
}

p {
    line-height: 1.5em;
}

/* CONFIGURAÇÕES MENU */

header {
    position: fixed;
    color: var(--white);
    width: 100%;
}

nav {
    padding: 24px 0;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > menu > nav > a {
    text-decoration: none;
    color: var(--white);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

header > menu > nav > ul > li > a {
    color: var(--white);
    text-decoration: none;
}

/* CONFIGURAÇÕES HERO */

.bg-hero {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.bg-hero::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(40px);
    position: absolute;
}

#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}


.menor {
    color: aqua;
    text-shadow: 0px 0px 3px rgba(0, 255, 255, 0.512);
}

#presentation p {
    max-width: 450px;
    line-height: 1.5em;
}


#presentation h1 {
    margin-bottom: 16px;
}


.action {
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

.btn_hero {
    text-decoration: none;
    color: var(--white);
    padding: 8px 16px;
    display: block;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color .3s;
}

.btn_hero:hover {
    background-color: rgba(255, 255, 255, 0.277);
    transition: background-color .3s;
}

#myPhoto img {
    object-fit: cover;
    width: 375px;
    height: 375px;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 1px 1px 20px 2px rgba(255, 255, 255, 0.449);
}

/* CONFIGURAÇÃO PROJETOS */

#projetos {
    height: 100vh;
}

#projetos h2 {
    margin-bottom: 16px;
}

#cards {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#cards-container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 24px;
}

.card {
    height: 100%;
    background-color: var(--primary);
    border-radius: 5px;
    overflow: hidden;
    width: 33%;
    box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.221);
    display: flex;
    flex-flow: column nowrap;
}

.volkin { /* OCULTADO ATÉ CASE ESTAR PRONTO */
    display: none;
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 2px 3px var(--black);
}

.card h3 {
    margin: 16px;
    font-size: 1.4em;
}

.card p {
    text-align: start;
    padding: 0 16px;
    font-size: 0.92em;
    display: block;
    height: 100%;
}

.card a {
    display: block;
    margin: 16px 16px 16px 16px;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    transition: background-color .3s;
}

.card a:hover {
    background-color: rgba(255, 255, 255, 0.277);
    transition: background-color .3s;
    box-shadow: 0px 2px 3px 4px rgba(0, 0, 0, 0.221);
}

/* CONFIGURAÇÃO PROFISSIONAL */

#profissional {
    /* height: 100vh; */
    background-color: var(--primary);
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.171);
    
}

.profissional-container {
    max-width: 1200px;
    /* background-color: red; */
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 80px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column nowrap;
}

.profissional-container p { 
    margin: auto;
    margin-top: 24px; margin-bottom: 24px;
    width: 650px;
}

.carrossel {
    width: 650px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    gap: 16px;
}

.carrossel img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.233);
}

/* CONFIGURAÇÕES SOBRE */

#sobre {
    height: 100vh;
}

.sobre-container {
    max-width: 1200px;
    margin: auto;
    padding: 80px;
}

.sobre-container h2 {
    text-align: center;
    margin-bottom: 24px;
}